# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
build/
dist/
.cache/

# Virtualenv
.venv/
venv/
env/

# Env vars
.env
.env.*

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
.python-version
